@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .Your-booking-is-conf {
        padding-top: 25px;
    }
    .Line-6 {
        margin-left: 0px;
        width: 60px;
    }
}

.Rectangle-1 {
    width: 100%;
    height: 111px;
    background-color: #f8f8f8;
    text-align: center;
    padding: 18px;
}

.Rectangle-2 {
    width: 100%;
    height: 111px;
    text-align: center;
    padding: 28px;
}

.Group-5 {
    width: 227px;
    height: 66px;
    object-fit: contain;
}

.Your-booking-is-conf-div {
    width: 100%;
    text-align: center;
}

.dotted {
    border: 1px dashed #eaeaea;
    width: 387px;
    /* text-align: left; */
    margin-right: 52px;
    height: 2px;
    padding-right: 0px;
}

.table td {
    padding-top: 0px;
}

.Total-paid-800-USD {
    padding-top: 10px;
    width: 175px;
    height: 26px;
    /* font-family: AvenirNext; */
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.Want-to-see-and-do-i {
    margin-left: 210px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 7px;
    padding-top: 22px;
    width: 783px;
    height: 31px;
    /* font-family: AvenirNext; */
    font-size: 23px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    /* text-align: center; */
    color: #235187;
}

.Line-6 {
    margin-top: 8px;
    text-align: center;
    width: 985px;
    height: 1px;
    border: solid 1px #dddddd;
    margin-left: 217px;
    margin-top: 29px;
}

.Line-5 {
    margin-top: 9px;
    width: 129.5px;
    height: 1px;
    border: solid 1px #000000;
}

.Shape {
    width: 109px;
    height: 105px;
    background-color: #26cf9e;
}

.Mail---Instant-Booking-Confirmation {
    width: 915px;
    height: 1289px;
    background-color: #ffffff;
}

.Booking-Confirmed-wi {
    padding-top: 30px;
    height: 34px;
    /* font-family: AvenirNext; */
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #184161;
}

p1 {
    color: #1ac7b8;
}

.Your-booking-is-conf {
    height: 22px;
    /* font-family: AvenirNext; */
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #184161;
}

.Your-booking-is-conf .text-style-1 {
    color: #1ac7b8;
}

.Your-booking-is-conf .text-style-2 {
    font-weight: 500;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.Trip-Summary {
    width: 102px;
    /* font-family: AvenirNext; */
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d2e51;
}

.table td {
    padding-left: 0px;
}

.Sub-Div {
    padding-left: 114px;
    padding-top: 36px;
}

.Right-Border {
    border-right: 1px solid #e4e4e4;
    float: left;
    box-sizing: border-box;
}

.Trip-Summary-Div {
    padding-left: 84px;
    padding-top: 36px;
}

.Line-4 {
    width: 3px;
    height: 385px;
    border: solid 1px #e4e4e4;
}

.User-Details {
    width: 339px;
    height: 72px;
    /* font-family: AvenirNext; */
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: -0.2px;
    word-spacing: 30px;
    color: #184161;
}

.Bitmap {
    width: 260px;
    height: 115px;
}

.Cairo-The-Oberoi-P {
    width: 260px;
    height: 19px;
    padding-top: 15px;
    /* font-family: AvenirNext; */
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #184161;
}